transformers
transformers[torch]
matplotlib
sklearn
adjustText
wheel
seaborn
sentencepiece
fugashi[unidic]
ipadic
jsons
bottle
nlpaug
datasets
lxml
nltk
pandas
psycopg2-binary
tabulate
evaluate
gitpython
