{
  "epochs": 20,

  "data_format" : "tsv",
  "fields" : {"tokens" : 0, "tags" : 1, "lemmata": 2},

  "max_chunk_size" : 50,

  "base_dir" : "/media/proj/Corpora/TrainingDataForTools/CobaltExport/2024_2/training-data-2_enhanced_tags/",

  "training_data" :  [
     "clvn/clvn.train.tsv.gz",
     "letters-as-loot/letters-as-loot.train.tsv.gz",
     "couranten/couranten.train.tsv.gz",
     "dbnl-excerpts-15/dbnl-excerpts-15.train.tsv.gz",
     "dbnl-excerpts-16/dbnl-excerpts-16.train.tsv.gz",
     "dbnl-excerpts-17/dbnl-excerpts-17.train.tsv.gz",
     "dbnl-excerpts-18/dbnl-excerpts-18.train.tsv.gz",
     "dbnl-excerpts-19/dbnl-excerpts-19.train.tsv.gz",
     "dictionary-quotations-15/dictionary-quotations-15.train.tsv.gz",
     "dictionary-quotations-16/dictionary-quotations-16.train.tsv.gz",
     "dictionary-quotations-17/dictionary-quotations-17.train.tsv.gz",
     "dictionary-quotations-18/dictionary-quotations-18.train.tsv.gz",
     "dictionary-quotations-19/dictionary-quotations-19.train.tsv.gz"
  ],
    

  "dev_data" : "couranten/couranten.dev.tsv.gz",

  "test_data" : [
     "clvn/clvn.test.tsv.gz",
     "letters-as-loot/letters-as-loot.test.tsv.gz",
     "couranten/couranten.test.tsv.gz",
     "dbnl-excerpts-15/dbnl-excerpts-15.test.tsv.gz",
     "dbnl-excerpts-16/dbnl-excerpts-16.test.tsv.gz",
     "dbnl-excerpts-17/dbnl-excerpts-17.test.tsv.gz",
     "dbnl-excerpts-18/dbnl-excerpts-18.test.tsv.gz",
     "dbnl-excerpts-19/dbnl-excerpts-19.test.tsv.gz",
     "dictionary-quotations-15/dictionary-quotations-15.test.tsv.gz",
     "dictionary-quotations-16/dictionary-quotations-16.test.tsv.gz",
     "dictionary-quotations-17/dictionary-quotations-17.test.tsv.gz",
     "dictionary-quotations-18/dictionary-quotations-18.test.tsv.gz",
     "dictionary-quotations-19/dictionary-quotations-19.test.tsv.gz"
   ],

  "model_output_path" : "../data/tagging/tagging_models/galahad_models/pos_model_tdn_all_enhanced/",
  "base_model" : "emanjavacas/GysBERT",

  "log_path" : "./Log/galahad-enhanced-tags/",

  "lemmatizer" : {
    "lem_tokenizer" : "../data/lemmatizer/galahad/tdn_byt5_model/",
    "lem_model" : "../data/lemmatizer/tdn_byt5_model/",
    "lexicon_path" : "../data/lexicon/lexicon.pickle",
    "chop_pos_to_main" : false
  },

  "skip_training" : false
}
